<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/SnappFood</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Shoomal_Project</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">false</property>
        <property name="hibernate.connection.provider_class">org.hibernate.hikaricp.internal.HikariCPConnectionProvider</property>
        <property name="hibernate.hikaricp.minimumIdle">5</property>
        <property name="hibernate.hikaricp.maximumPoolSize">20</property>
        <property name="hibernate.hikaricp.idleTimeout">30000</property> <property name="hibernate.hikaricp.connectionTimeout">20000</property> <property name="hibernate.hikaricp.maxLifetime">1800000</property> <property name="hibernate.hikaricp.connectionTestQuery">SELECT 1</property>
        <mapping class="com.aut.shoomal.auth.BlacklistedToken"/>
        <mapping class="com.aut.shoomal.entity.user.User"/>
        <mapping class="com.aut.shoomal.entity.user.Courier"/>
        <mapping class="com.aut.shoomal.entity.user.Seller"/>
        <mapping class="com.aut.shoomal.entity.user.Buyer"/>
        <mapping class="com.aut.shoomal.entity.user.Admin"/>
        <mapping class="com.aut.shoomal.entity.user.access.Role"/>
        <mapping class="com.aut.shoomal.entity.user.access.Permission"/>
        <mapping class="com.aut.shoomal.entity.user.BankInfo"/>
        <mapping class="com.aut.shoomal.entity.restaurant.Restaurant"/>
        <mapping class="com.aut.shoomal.entity.food.Food"/>
        <mapping class="com.aut.shoomal.entity.menu.Menu"/>
        <mapping class="com.aut.shoomal.entity.cart.Cart"/>
        <mapping class="com.aut.shoomal.entity.cart.CartItem"/>
        <mapping class="com.aut.shoomal.payment.order.Order"/>
        <mapping class="com.aut.shoomal.payment.order.OrderItem"/>
        <mapping class="com.aut.shoomal.payment.coupon.Coupon"/>
        <mapping class="com.aut.shoomal.payment.transaction.PaymentTransaction"/>
        <mapping class="com.aut.shoomal.payment.wallet.Wallet"/>
        <mapping class="com.aut.shoomal.rating.Rating"/>
    </session-factory>
</hibernate-configuration>